            <div class="row">
		<div class="col-sm-6 nopad custom-prop small drop-down">
                    <%= f.label  :position_shape, class: "small"%>
		</div>
		<div class="col-sm-6 nopad custom-val">
	          <%= f.select :position_shape, [:Normal, :Abnormal], { :prompt => "Select One" },{ class: "form-control input-sm has-dependent" , "dependent-selector" => "#position_shape-dependent", "when-value" => "Abnormal", "dependent-action" => "show-hide"} %>
                </div>
            </div>
	    <div class="row" id="position_shape-dependent">
	        <div class="col-sm-6 nopad custom-prop small drop-down">
	             <%= f.label  :position_shape_specify %><br>
                </div>
                <div class="col-sm-6 nopad custom-val">
                     <%= f.text_field :position_shape_specify, { class: "form-control input-sm", placeholder: "If Abnormal, explain" } %>
                </div>
            </div> 
         

            <div class="row">
		<div class="col-sm-6 nopad custom-prop small drop-down">
                    <%= f.label  :nares_exudate, class: "small"%>
		</div>
		<div class="col-sm-6 nopad custom-val">
	          <%= f.select :nares_exudate, [:Normal, :Abnormal], { :prompt => "Select One" },{ class: "form-control input-sm has-dependent" , "dependent-selector" => "#nares_exudate-dependent", "when-value" => "Abnormal", "dependent-action" => "show-hide"} %>
                </div>
            </div>
	    <div class="row" id="nares_exudate-dependent">
	        <div class="col-sm-6 nopad custom-prop small drop-down">
	             <%= f.label  :nares_exudate_specify %><br>
                </div>
                <div class="col-sm-6 nopad custom-val">
                     <%= f.text_field :nares_exudate_specify, { class: "form-control input-sm", placeholder: "If Abnormal, explain" } %>
                </div>
            </div> 
         
 
	     <div class="row">
		<div class="col-sm-6 nopad custom-prop small drop-down">
		     <%= f.label  :patency_of_choanae, class: "small" %><br>
		</div> 
		<div class="col-sm-6 nopad custom-val">
		     <%= f.select :patency_of_choanae, [:Patent, :"Non patent"], { :prompt => "Select One" },{ class: "form-control input-sm"} %>
		</div> 
	     </div>

            <div class="row">
		<div class="col-sm-6 nopad custom-prop small drop-down">
                    <%= f.label  :septum, class: "small"%>
		</div>
		<div class="col-sm-6 nopad custom-val">
	          <%= f.select :septum, [:Normal, :Abnormal, :"Not examined"], { :prompt => "Select One" },{ class: "form-control input-sm has-dependent" , "dependent-selector" => "#septum-dependent", "when-value" => "Abnormal", "dependent-action" => "show-hide"} %>
                </div>
            </div>
	    <div class="row" id="septum-dependent">
	        <div class="col-sm-6 nopad custom-prop small drop-down">
	             <%= f.label  :septum_specify %><br>
                </div>
                <div class="col-sm-6 nopad custom-val">
                     <%= f.text_field :septum_specify, { class: "form-control input-sm", placeholder: "If Abnormal, explain" } %>
                </div>
            </div> 
         

	     <div class="row">
		<div class="col-sm-6 nopad custom-prop small">
		    <%= f.label :nose_other , class: "small" %>
		</div> 
		<div class="col-sm-6 nopad custom-val">
		    <%= f.text_field :nose_other, class: "form-control input-sm" %>
		</div> 
	     </div>
