<%= form_for @placenta, url: placenta_path do |f| %>
  <% if @placenta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@placenta.errors.count, "error") %> prohibited this placenta from being saved:</h2>
      <ul>
	<% @placenta.errors.full_messages.each do |message| %>
	  <li><%= message %></li>
	<% end %>
      </ul>
    </div>
  <% end %>

  <div class="container" style="width:60%;margin:auto">
    <div class="panel-group" id="accordion">
      <div class="panel panel-primary">
	<div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#accordion" href="#Placenta">Placenta</a>
	  </h4>
	</div>

	<div id="Placenta" class="panel-collapse collapse in"> 
	  <div class="row" style="width:100%">
	    <div class="field col-sm-12">
	      <%= f.label :weight %><br>
	      <%= f.number_field :weight , class: "form-control" %>
	    </div>
	  </div>
	  <div class="row" style="width:100%">
	    <div class="field col-sm-12">
	      <%= f.label :placental_weight_ratio %><br>
	      <%= f.number_field :placental_weight_ratio, class: "form-control", :step => 'any' %>
	    </div>
	  </div>
	</div>
      </div>
      <div class="panel panel-primary">
	<div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#accordion" href="#Umbilical-cord">Umbilical-cord</a>
	  </h4>
	</div>
	<div id="Umbilical-cord" class="panel-collapse collapse"> 
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :vessels %><br>
	      <%= f.select :vessels, [:"1", :"2", :"3"], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :umbillical_cord_normal %><br>
	      <%= f.select :umbillical_cord_normal, [:yes, :no], { :prompt => "Select One" },{ class: "form-control conditional" , :when_answer => 'no' , :todisable => ['placenta_normal_no_funisitis','placenta_normal_no_acute_vasculitis','placenta_umbillical_cord_normal_no_other']} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :normal_no_funisitis %><br>
	      <%= f.select :normal_no_funisitis, [:yes, :no], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :normal_no_acute_vasculitis %><br>
	      <%= f.select :normal_no_acute_vasculitis, [:yes, :no], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :umbillical_cord_normal_no_other %><br>
	      <%= f.select :umbillical_cord_normal_no_other, [:yes, :no], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>
	</div>
      </div>
      <div class="panel panel-primary">
	<div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#accordion" href="#Fetal-membranes">Fetal-membranes</a>
	  </h4>
	</div>
	<div id="Fetal-membranes" class="panel-collapse collapse"> 
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :fetal_memberanes_normal %><br>
	      <%= f.select :fetal_memberanes_normal, [:yes, :no], { :prompt => "Select One" },{ class: "form-control conditional", :when_answer => 'no' , :todisable => ['placenta_normal_no_acute_chorioamnionitis','placenta_normal_no_pigmented_macrophages','placenta_fetal_membranes_normal_no_other']} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :normal_no_acute_chorioamnionitis %><br>
	      <%= f.select :normal_no_acute_chorioamnionitis, [:yes, :no], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :normal_no_pigmented_macrophages %><br>
	      <%= f.select :normal_no_pigmented_macrophages, [:yes, :no], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>

	  <div class="row" style="width:100%">
	    <div class="field col-sm-12">
	      <%= f.label :fetal_membranes_normal_no_other %><br>
	      <%= f.text_field :fetal_membranes_normal_no_other, class: "form-control" %>
	  </div> </div>
	</div>
      </div>
      <div class="panel panel-primary">
	<div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#accordion" href="#Chorionic-plate-and-stem-vessels">Chorionic-plate-and-stem-vessels</a>
	  </h4>
	</div>
	<div id="Chorionic-plate-and-stem-vessels" class="panel-collapse collapse"> 
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :chorionic_plate_and_stem_vessels_normal %><br>
	      <%= f.select :chorionic_plate_and_stem_vessels_normal, [:yes, :no], { :prompt => "Select One" },{ class: "form-control conditional", :when_answer => 'no' , :todisable => ['placenta_normal_no_acute_vasculitis_2','placenta_normal_no_hemorrhagic_endovasculosis','placenta_normal_no_cushion_lesions_with_or_without_fibrin','placenta_normal_no_thrombosis','placenta_chorionic_plate_and_stem_vessels_normal_no_other']} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :normal_no_acute_vasculitis %><br>
	      <%= f.select :normal_no_acute_vasculitis, [:yes, :no], { :prompt => "Select One" },{ class: "form-control", :id => 'placenta_normal_no_acute_vasculitis_2'} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :normal_no_thrombosis %><br>
	      <%= f.select :normal_no_thrombosis, [:yes, :no], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :normal_no_hemorrhagic_endovasculosis %><br>
	      <%= f.select :normal_no_hemorrhagic_endovasculosis, [:yes, :no], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :normal_no_cushion_lesions_with_or_without_fibrin %><br>
	      <%= f.select :normal_no_cushion_lesions_with_or_without_fibrin, [:yes, :no], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>

	  <div class="row" style="width:100%">
	    <div class="field col-sm-12">
	      <%= f.label :chorionic_plate_and_stem_vessels_normal_no_other %><br>
	      <%= f.text_field :chorionic_plate_and_stem_vessels_normal_no_other, class: "form-control" %>
	  </div> </div>
	</div>
      </div>
      <div class="panel panel-primary">
	<div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#accordion" href="#Chorionic-villi">Chorionic-villi</a>
	  </h4>
	</div>
	<div id="Chorionic-villi" class="panel-collapse collapse"> 
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :maturation_appropriate_for_gestational_age %><br>
	      <%= f.select :maturation_appropriate_for_gestational_age, [:yes, :no], { :prompt => "Select One" },{ class: "form-control conditional", :when_answer => 'no' , :todisable => ['placenta_maturation_no_specify']} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :maturation_no_specify %><br>
	      <%= f.select :maturation_no_specify, [:"accelerated maturation", :" immature villi", :" distal villous hypoplasia", :" uneven maturation", :" other"], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :chorionic_villi_and_intervillous_space_normal %><br>
	      <%= f.select :chorionic_villi_and_intervillous_space_normal, [:yes, :no], { :prompt => "Select One" },{ class: "form-control conditional", :when_answer => 'no' , :todisable => ['placenta_chorionic_villi_abnormal_chronic_lymphohistiocytic_villitis', 'placenta_chorionic_villi_abnormal_acute_intervillositis','placenta_chorionic_villi_abnormal_other','placenta_chorionic_villi_abnormal_avascular_villi']} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :chorionic_villi_abnormal_chronic_lymphohistiocytic_villitis %><br>
	      <%= f.select :chorionic_villi_abnormal_chronic_lymphohistiocytic_villitis, [:yes, :no], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>

	  <div class="row" style="width:100%">
	    <div class="field col-sm-12">
	      <%= f.label :chorionic_villi_abnormal_acute_intervillositis %><br>
	      <%= f.text_field :chorionic_villi_abnormal_acute_intervillositis, class: "form-control" %>
	  </div> </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :chorionic_villi_abnormal_avascular_villi %><br>
	      <%= f.select :chorionic_villi_abnormal_avascular_villi, [:focal, :" diffuse"], { :prompt => "Select One" },{ class: "form-control"} %>
	    </div> 
	  </div>

	  <div class="row" style="width:100%">
	    <div class="field col-sm-12">
	      <%= f.label :chorionic_villi_abnormal_other %><br>
	      <%= f.text_field :chorionic_villi_abnormal_other, class: "form-control" %>
	  </div> </div>
	</div>
      </div>

      <div class="panel panel-primary">
	<div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#accordion" href="#Basal-plate">Basal-plate</a>
	  </h4>
	</div>
	<div id="Basal-plate" class="panel-collapse collapse"> 
	  <div class="row" style="width:100%">
	    <div class="col-sm-12 drop-down">
	      <%= f.label  :basal_plate_normal %><br>
	      <%= f.select :basal_plate_normal, [:yes, :no], { :prompt => "Select One" },{ class: "form-control conditional", :when_answer => 'no' , :todisable => ['placenta_normal_no_maternal_vessels_normal','placenta_normal_no_decidua_basalis_normal','placenta_normal_no_basalplate_other']} %>
	    </div> 
	  </div>
	  <div class="row" style="width:100%">
	    <div class="col-sm-6 drop-down">
	      <%= f.label  :normal_no_maternal_vessels_normal %><br>
	      <%= f.select :normal_no_maternal_vessels_normal, [:yes, :no], { :prompt => "Select One" },{ class: "form-control conditional" , :when_answer => 'no' , :todisable => ['placenta_normal_no_maternal_vessels_normal_specify']} %> 
	    </div>

	    <div class="col-sm-6">
	      <%= f.label  :please_specify, { id:"label_internal_normal_no_maternal_vessels_normal_specify" } %><br>
	      <%= f.text_field :normal_no_maternal_vessels_normal_specify, { class: "form-control", placeholder: "If no, explain" } %>
	    </div>
	  </div>

	  <div class="row" style="width:100%">
	    <div class="col-sm-6 drop-down">
	      <%= f.label  :normal_no_decidua_basalis_normal %><br>
	      <%= f.select :normal_no_decidua_basalis_normal, [:yes, :no], { :prompt => "Select One" },{ class: "form-control conditional" , :when_answer => 'no' , :todisable => ['placenta_normal_no_decidua_basalis_normal_specify']} %> 
	    </div>

	    <div class="col-sm-6">
	      <%= f.label  :please_specify, { id:"label_internal_normal_no_decidua_basalis_normal_specify" } %><br>
              <%= f.text_field :normal_no_decidua_basalis_normal_specify, { class: "form-control", placeholder: "If no, explain" } %>
	    </div>
	  </div>


	  <div class="row" style="width:100%">
	    <div class="field col-sm-12">
	      <%= f.label :normal_no_basalplate_other %><br>
	      <%= f.text_field :normal_no_basalplate_other, class: "form-control" %>
	  </div> </div>
	</div>
      </div>

    </div>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="icon-ok icon-white"></i> Save
  <% end %>

  <script>
    addEventListener("change", function() {
      setConditions()
    });

    addEventListener("load", function() {
      setConditions()
      //var abc = document.getElementById('placenta_umbillical_cord_normal')
      //var when_answer = abc.getAttribute('when_answer')
      //var todisable = abc.getAttribute('todisable')
      //takeAction(abc.value, when_answer, todisable)
    });

    function setConditions(){
      var all_class = document.getElementsByClassName('conditional')
      for( j = 0; j < all_class.length; j++ ){
       var abc = all_class[j]
       var when_answer = abc.getAttribute('when_answer')
       var todisable = abc.getAttribute('todisable')
       takeAction(abc.value, when_answer, todisable)
      }
    }

    function takeAction(given,enable_when,todisable){
      if (given != enable_when){
          disableDisplay(todisable)
      }
      else {
          enableDisplay(todisable)
      }
    }

    function enableDisplay (inarray){
      inarray = inarray.split(' ')
      for(i = 0 ; i < inarray.length ; i++){
	temp1 = document.getElementById(inarray[i])
	temp1.removeAttribute('disabled')
      }
    }
    function disableDisplay (inarray){
      inarray = inarray.split(' ')
      for(i = 0 ; i < inarray.length ; i++){
	temp1 = document.getElementById(inarray[i])
	temp1.setAttribute('disabled','')
      }
    }
  </script>
<% end %>
