      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Cranium_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.cranium_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Pituitary_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.pituitary_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Dura_and_venous_sinuses_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.dura_and_venous_sinuses_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Brain_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.brain_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Spinal_cord_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.spinal_cord_md%>               
	</div>
      </div>
