<!-- create special report -->

<h1>Add new special report</h1>
<div class="special-report-form">
<%= form_for :special_report, url: create_special_report_path(@description.id), html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <label class="control-label col-sm-3" for="email">Title:</label>
    <div class="col-sm-9">
    	<%= f.text_field :title, :class => 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" >Final diagnosis:</label>
    <div class="col-sm-9">
      <%= f.text_area :final_diagnosis, :class => 'form-control tinymce', rows: 10 %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" >Gross description:</label>
    <div class="col-sm-9">
      <%= f.text_area :gross_description, :class => 'form-control tinymce', rows: 10 %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" ><a data-dismiss="modal" data-toggle="modal" data-target="#blockModal">Block code:</a></label>
    <div class="col-sm-9"> 
      <input type="text" class="form-control">
      <!-- <select name="special_report[blockcode]" class="form-control", value="<%= @special_report.blockcode %>" >
        <% BlockCode.all.each do |blockcode| %>
          <option value="<%= blockcode.id %>"><%= blockcode.block_description %></option>       
        <% end %>
      </select> -->
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" >Micropscopic description:</label>
    <div class="col-sm-9"> 
      <%= f.text_area :microscopic_description, :class => 'form-control tinymce', rows: 10 %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :assign, "Assign", :class => "control-label col-sm-3" %>
    <div class="col-sm-9"> 
      <%= select_tag "special_report[assign]" , 
	options_for_select( User.all.collect{ |u| [u.email, u.id] }, 
			   @special_report.assign ) , 
			   { :prompt => "Select one", class: "form-control" } %>
  </div>
  </div>

  <br>
 
  <div class="form-group"> 
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-primary">Save and Exit</button>
    </div>   
  </div>  
<% end %>
</div>

<div class="modal fade" id="blockModal" tabindex="1" role="dialog" aria-labelledby="todo-label" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
          <h4 class="modal-title" id="todo-label">Manage codes</h4>
       </div>
       <div class="modal-body">
       <%= render 'block_codes/manage' %>
       </div>
       <div class="modal-footer">
      <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

<script type="text/javascript">
  tinyMCE.init({
      selector: "textarea.tinymce",
      theme_advanced_toolbar_location: "top",
      theme_advanced_toolbar_align: "left",
      theme_advanced_statusbar_location: "bottom",
      theme_advanced_buttons3_add: null,
      toolbar: "bold italic",
      plugins: "table"
    });
</script>
