      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Larynx_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.larynx_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Pleural_cavities_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.pleural_cavities_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Mediastinum_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.mediastinum_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Lungs_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.lungs_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Diaphragm_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.diaphragm_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Thymus_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.thymus_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Pericardial_sac_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.pericardial_sac_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Thyroid_pt_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.thyroid_pt_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Esophagus_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.esophagus_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Heart_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.heart_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Chambers_and_septae_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.chambers_and_septae_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Valves_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.valves_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Vessels_and_ducts_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.vessels_and_ducts_md%>               
	</div>
      </div>

    </div>
  </div>
</div>
