   <div class="col-sm-3">
     <div class="panel panel-internal squarish">
       <div class="panel-heading panel-heading-internal small-heading squarish">
         Vessels_and_ducts
       </div>
       <div class="panel-body panel-body-internal squarish">
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Origins_of_aorta_and_pulmonary_artery: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.origins_of_aorta_and_pulmonary_artery_specify.nil? or @description.internal.origins_of_aorta_and_pulmonary_artery_specify == "" ) ?  @description.internal.origins_of_aorta_and_pulmonary_artery :  @description.internal.origins_of_aorta_and_pulmonary_artery_specify 
   	%>  
         </div> 
         </div>
   
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Arch_configuartion: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.arch_configuartion_specify.nil? or @description.internal.arch_configuartion_specify == "" ) ?  @description.internal.arch_configuartion :  @description.internal.arch_configuartion_specify 
   	%>  
         </div> 
         </div>
   
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Arch_branches: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.arch_branches_specify.nil? or @description.internal.arch_branches_specify == "" ) ?  @description.internal.arch_branches :  @description.internal.arch_branches_specify 
   	%>  
         </div> 
         </div>
   
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Thoracic_branches: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.thoracic_branches_specify.nil? or @description.internal.thoracic_branches_specify == "" ) ?  @description.internal.thoracic_branches :  @description.internal.thoracic_branches_specify 
   	%>  
         </div> 
         </div>
   
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Intima_and_wall: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.intima_and_wall_specify.nil? or @description.internal.intima_and_wall_specify == "" ) ?  @description.internal.intima_and_wall :  @description.internal.intima_and_wall_specify 
   	%>  
         </div> 
         </div>
   
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Superior_vena_cava: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.superior_vena_cava_specify.nil? or @description.internal.superior_vena_cava_specify == "" ) ?  @description.internal.superior_vena_cava :  @description.internal.superior_vena_cava_specify 
   	%>  
         </div> 
         </div>
   
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Inferior_vena_cava: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.inferior_vena_cava_specify.nil? or @description.internal.inferior_vena_cava_specify == "" ) ?  @description.internal.inferior_vena_cava :  @description.internal.inferior_vena_cava_specify 
   	%>  
         </div> 
         </div>
   
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Pulmonary_arteries: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.pulmonary_arteries_specify.nil? or @description.internal.pulmonary_arteries_specify == "" ) ?  @description.internal.pulmonary_arteries :  @description.internal.pulmonary_arteries_specify 
   	%>  
         </div> 
         </div>
   
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Pulmonary_veins: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.pulmonary_veins_specify.nil? or @description.internal.pulmonary_veins_specify == "" ) ?  @description.internal.pulmonary_veins :  @description.internal.pulmonary_veins_specify 
   	%>  
         </div> 
         </div>
   
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Ductus: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.ductus_specify.nil? or @description.internal.ductus_specify == "" ) ?  @description.internal.ductus :  @description.internal.ductus_specify 
   	%>  
         </div> 
         </div>
   
   
         <div class="row">
   	<div class="col-sm-6 custom-prop">
   	  <strong>Coronary_arteries: </strong>
   	</div>
   	<div class="col-sm-6 custom-val">
   	  <%= ( @description.internal.coronary_arteries_specify.nil? or @description.internal.coronary_arteries_specify == "" ) ?  @description.internal.coronary_arteries :  @description.internal.coronary_arteries_specify 
   	%>  
         </div> 
         </div>
   
       </div>
     </div>
   </div>
