<%= form_for(@description) do |f| %>
  <% if @description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@description.errors.count, "error") %> prohibited this description from being saved:</h2>

      <ul>
      <% @description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
   <div class="field col-sm-4">
    <%= f.label :case_identifier %><br>
    <%= f.text_field :case_identifier, class: "form-control" %>
   </div>
  </div>

  <div class=row>
   <div class="field col-sm-12">
    <%= f.label :description%><br>
    <%= f.text_area :description, class: "form-control tinymce"  %>
   </div>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 	<i class="icon-ok icon-white"></i> Save
  <% end %>
  
  <br>
  <br>

  <%= tinymce %>

<% end %>
