 <div class="col-sm-3">
         <div class="panel panel-internal squarish">
             <div class="panel-heading panel-heading-internal small-heading squarish">
               Large_intestine_and_appendix
             </div>
         <div class="panel-body panel-body-internal squarish">

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Large_intestine_size_position_configuration: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.large_intestine_size_position_configuration_specify.nil? or @description.internal.large_intestine_size_position_configuration_specify == "" ) ?  @description.internal.large_intestine_size_position_configuration :  @description.internal.large_intestine_size_position_configuration_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Large_intestine_mucosa_and_wall: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.large_intestine_mucosa_and_wall_specify.nil? or @description.internal.large_intestine_mucosa_and_wall_specify == "" ) ?  @description.internal.large_intestine_mucosa_and_wall :  @description.internal.large_intestine_mucosa_and_wall_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Large_intestine_state_of_distension: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.large_intestine_state_of_distension_specify.nil? or @description.internal.large_intestine_state_of_distension_specify == "" ) ?  @description.internal.large_intestine_state_of_distension :  @description.internal.large_intestine_state_of_distension_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Large_intestine_contents : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.large_intestine_contents%>               
              </div>
	    </div>
	 

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Large_intestine_mesentery: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.large_intestine_mesentery_specify.nil? or @description.internal.large_intestine_mesentery_specify == "" ) ?  @description.internal.large_intestine_mesentery :  @description.internal.large_intestine_mesentery_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Large_intestine_other : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.large_intestine_other%>               
              </div>
	    </div>
	 
</div>
</div>
</div>
