      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Peritoneal_cavity_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.peritoneal_cavity_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Stomach_and_duodenum_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.stomach_and_duodenum_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Small_intesting_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.small_intesting_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Large_intestine_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.large_intestine_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Liver_and_biliary_system_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.liver_and_biliary_system_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Pancreas_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.pancreas_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Right_adrenal_gland_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.right_adrenal_gland_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Left_adrenal_gland_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.left_adrenal_gland_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Spleen_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.spleen_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Right_kidney_and_ureter_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.right_kidney_and_ureter_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Left_kidney_ureter_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.left_kidney_ureter_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Bladder_and_urethra_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.bladder_and_urethra_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Male_genetalia_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.male_genetalia_md%>               
	</div>
      </div>


      <div class="row">
	<div class="col-sm-6 custom-prop">
	  <strong>Female_genetalia_md : </strong>
	</div>
	<div class="col-sm-6 custom-val">
	  <%= @description.internal.female_genetalia_md%>               
	</div>
      </div>
