 <div class="col-sm-3">
         <div class="panel panel-internal squarish">
             <div class="panel-heading panel-heading-internal small-heading squarish">
               Peritoneal_cavity
             </div>
         <div class="panel-body panel-body-internal squarish">

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Peritoneal_serosal_surfaces: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.peritoneal_serosal_surfaces_specify.nil? or @description.internal.peritoneal_serosal_surfaces_specify == "" ) ?  @description.internal.peritoneal_serosal_surfaces :  @description.internal.peritoneal_serosal_surfaces_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Fluid : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.fluid%>               
              </div>
	    </div>
	 

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Fluid_quantity : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.fluid_quantity%>               
              </div>
	    </div>
         

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Peritoneal_nature_of_fluid: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.peritoneal_nature_of_fluid_specify.nil? or @description.internal.peritoneal_nature_of_fluid_specify == "" ) ?  @description.internal.peritoneal_nature_of_fluid :  @description.internal.peritoneal_nature_of_fluid_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Peritoneal_cavity_organ_relations: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.peritoneal_cavity_organ_relations_specify.nil? or @description.internal.peritoneal_cavity_organ_relations_specify == "" ) ?  @description.internal.peritoneal_cavity_organ_relations :  @description.internal.peritoneal_cavity_organ_relations_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Retrroperitoneum: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.retrroperitoneum_specify.nil? or @description.internal.retrroperitoneum_specify == "" ) ?  @description.internal.retrroperitoneum :  @description.internal.retrroperitoneum_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Umbilical_vessels: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.umbilical_vessels_specify.nil? or @description.internal.umbilical_vessels_specify == "" ) ?  @description.internal.umbilical_vessels :  @description.internal.umbilical_vessels_specify 
                  %>  
               </div> 
             </div>
           
 
            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>No_of_umbilical_arteries : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.no_of_umbilical_arteries%>               
              </div>
	    </div>
           

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Peritoneal_cavity_other : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.peritoneal_cavity_other%>               
              </div>
	    </div>
	 
</div>
</div>
</div>
