 <div class="col-sm-3">
         <div class="panel panel-internal squarish">
             <div class="panel-heading panel-heading-internal small-heading squarish">
               Right_kidneys_and_ureter
             </div>
         <div class="panel-body panel-body-internal squarish">

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Right_kidney_weight : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.right_kidney_weight%>               
              </div>
	    </div>
         

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_kidney_configuration_position: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_kidney_configuration_position_specify.nil? or @description.internal.right_kidney_configuration_position_specify == "" ) ?  @description.internal.right_kidney_configuration_position :  @description.internal.right_kidney_configuration_position_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_kidney_external_surface: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_kidney_external_surface_specify.nil? or @description.internal.right_kidney_external_surface_specify == "" ) ?  @description.internal.right_kidney_external_surface :  @description.internal.right_kidney_external_surface_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_kidney_cut_surface: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_kidney_cut_surface_specify.nil? or @description.internal.right_kidney_cut_surface_specify == "" ) ?  @description.internal.right_kidney_cut_surface :  @description.internal.right_kidney_cut_surface_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Right_kidney_cortical_thickness : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.right_kidney_cortical_thickness%>               
              </div>
	    </div>
         

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Right_kidney_medulla_depth : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.right_kidney_medulla_depth%>               
              </div>
	    </div>
         

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_kidney_pelves_and_calyces: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_kidney_pelves_and_calyces_specify.nil? or @description.internal.right_kidney_pelves_and_calyces_specify == "" ) ?  @description.internal.right_kidney_pelves_and_calyces :  @description.internal.right_kidney_pelves_and_calyces_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_kidney_peripelvic_fat_and_lymph_nodes: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_kidney_peripelvic_fat_and_lymph_nodes_specify.nil? or @description.internal.right_kidney_peripelvic_fat_and_lymph_nodes_specify == "" ) ?  @description.internal.right_kidney_peripelvic_fat_and_lymph_nodes :  @description.internal.right_kidney_peripelvic_fat_and_lymph_nodes_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_kidney_renal_vessels: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_kidney_renal_vessels_specify.nil? or @description.internal.right_kidney_renal_vessels_specify == "" ) ?  @description.internal.right_kidney_renal_vessels :  @description.internal.right_kidney_renal_vessels_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_kidney_ureter: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_kidney_ureter_specify.nil? or @description.internal.right_kidney_ureter_specify == "" ) ?  @description.internal.right_kidney_ureter :  @description.internal.right_kidney_ureter_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Right_kidney_other : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.right_kidney_other%>               
              </div>
	    </div>
	 
</div>
</div>
</div>
