 <div class="col-sm-3">
         <div class="panel panel-internal squarish">
             <div class="panel-heading panel-heading-internal small-heading squarish">
               Right_adrenal_gland
             </div>
         <div class="panel-body panel-body-internal squarish">

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Right_adrenal_gland_weight : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.right_adrenal_gland_weight%>               
              </div>
	    </div>
         

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_adrenal_pos_config_shape: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_adrenal_pos_config_shape_specify.nil? or @description.internal.right_adrenal_pos_config_shape_specify == "" ) ?  @description.internal.right_adrenal_pos_config_shape :  @description.internal.right_adrenal_pos_config_shape_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_adrenal_gland_external_surface: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_adrenal_gland_external_surface_specify.nil? or @description.internal.right_adrenal_gland_external_surface_specify == "" ) ?  @description.internal.right_adrenal_gland_external_surface :  @description.internal.right_adrenal_gland_external_surface_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_adrenal_gland_parenchyma_or_cut_surface: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_adrenal_gland_parenchyma_or_cut_surface_specify.nil? or @description.internal.right_adrenal_gland_parenchyma_or_cut_surface_specify == "" ) ?  @description.internal.right_adrenal_gland_parenchyma_or_cut_surface :  @description.internal.right_adrenal_gland_parenchyma_or_cut_surface_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_adrenal_cortex: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_adrenal_cortex_specify.nil? or @description.internal.right_adrenal_cortex_specify == "" ) ?  @description.internal.right_adrenal_cortex :  @description.internal.right_adrenal_cortex_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_adrenal_fetal_cortex: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_adrenal_fetal_cortex_specify.nil? or @description.internal.right_adrenal_fetal_cortex_specify == "" ) ?  @description.internal.right_adrenal_fetal_cortex :  @description.internal.right_adrenal_fetal_cortex_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
               <div class="col-sm-6 custom-prop">
                  <strong>Right_adrenal_medulla: </strong>
               </div>
               <div class="col-sm-6 custom-val">
                  <%= ( @description.internal.right_adrenal_medulla_specify.nil? or @description.internal.right_adrenal_medulla_specify == "" ) ?  @description.internal.right_adrenal_medulla :  @description.internal.right_adrenal_medulla_specify 
                  %>  
               </div> 
             </div>
           

            <div class="row">
              <div class="col-sm-6 custom-prop">
                <strong>Right_adrenal_other : </strong>
              </div>
              <div class="col-sm-6 custom-val">
                 <%= @description.internal.right_adrenal_other%>               
              </div>
	    </div>
	 
</div>
</div>
</div>
