
   <div class="col-sm-3">
    <h3> Bladder-and-urethra </h3>
<div><span><strong>Size and configuration: </strong><%=@description.internal.size_and_configuration%></span></div>
<div><span><%=@description.internal.size_and_configuration_specify%></span></div>
<div><span><strong>Wall and mucosa: </strong><%=@description.internal.wall_and_mucosa%></span></div>
<div><span><%=@description.internal.wall_and_mucosa_specify%></span></div>
<div><span><strong>Perivesical tissue: </strong><%=@description.internal.perivesical_tissue%></span></div>
<div><span><%=@description.internal.perivesical_tissue_specify%></span></div>
<div><span><strong>Bladder contents: </strong><%=@description.internal.bladder_contents%></span></div>
<div><span><%=@description.internal.bladder_contents_specify%></span></div>
<div><span><strong>Urethra: </strong><%=@description.internal.urethra%></span></div>
<div><span><%=@description.internal.urethra_specify%></span></div>
</div>
