
   <div class="col-sm-3">
    <h3> Brain,-preliminary-examination </h3>
<div><span><strong>Brain weight: </strong><%=@description.internal.brain_weight%></span></div>
<div><span><strong>Configuration lobar pattern: </strong><%=@description.internal.configuration_lobar_pattern%></span></div>
<div><span><%=@description.internal.configuration_lobar_pattern_specify%></span></div>
<div><span><strong>Brain consistency: </strong><%=@description.internal.brain_consistency%></span></div>
<div><span><%=@description.internal.brain_consistency_specify%></span></div>
<div><span><strong>Pachymeninges: </strong><%=@description.internal.pachymeninges%></span></div>
<div><span><%=@description.internal.pachymeninges_specify%></span></div>
<div><span><strong>Blood vessels: </strong><%=@description.internal.blood_vessels%></span></div>
<div><span><%=@description.internal.blood_vessels_specify%></span></div>
<div><span><strong>Cranial nerves: </strong><%=@description.internal.cranial_nerves%></span></div>
<div><span><%=@description.internal.cranial_nerves_specify%></span></div>
<div><span><strong>Kernicterus: </strong><%=@description.internal.kernicterus%></span></div>
<div><span><%=@description.internal.kernicterus_specify%></span></div>
</div>
