<div class="col-sm-3">
  <h3> Cranium </h3>
  <div><span><strong>Bones: </strong><%=@description.internal.bones%></span></div>
  <div><span><%=@description.internal.bones_specify%></span></div>
  <div><span><strong>Sutures fontanelles: </strong><%=@description.internal.sutures_fontanelles%></span></div>
  <div><span><%=@description.internal.sutures_fontanelles_specify%></span></div>
  <div><span><strong>Skull base: </strong><%=@description.internal.skull_base%></span></div>
  <div><span><%=@description.internal.skull_base_specify%></span></div>
  <div><span><strong>Sella: </strong><%=@description.internal.sella%></span></div>
  <div><span><%=@description.internal.sella_specify%></span></div>
  <div><span><strong>Petrous pyramids opened and cultured: </strong><%=@description.internal.petrous_pyramids_opened_and_cultured%></span></div>
  <div><span><%=@description.internal.petrous_pyramids_opened_and_cultured_specify%></span></div>
  <div><span><strong>Ears removed: </strong><%=@description.internal.ears_removed%></span></div>
  <div><span><%=@description.internal.ears_removed_specify%></span></div>
  <div><span><strong>Foramen magnum antero-posterior dimension: </strong><%=@description.internal.foramen_magnum_antero-posterior_dimension%></span></div>
  <div><span><strong>Foramen magnum antero-lateral dimension: </strong><%=@description.internal.foramen_magnum_antero-lateral_dimension%></span></div>
  <div><span><strong>Cranium other: </strong><%=@description.internal.cranium_other%></span></div>
</div>
