<div class="col-sm-3">
  <h3> Dura-and-venous-sinuses </h3>
  <div><span><strong>Dura falx tentorium: </strong><%=@description.internal.dura_falx_tentorium%></span></div>
  <div><span><%=@description.internal.dura_falx_tentorium_specify%></span></div>
  <div><span><strong>Subdural epidural: </strong><%=@description.internal.subdural_epidural%></span></div>
  <div><span><%=@description.internal.subdural_epidural_specify%></span></div>
  <div><span><strong>Venous sinuses: </strong><%=@description.internal.venous_sinuses%></span></div>
  <div><span><%=@description.internal.venous_sinuses_specify%></span></div>
  <div><span><strong>Sinuses other: </strong><%=@description.internal.sinuses_other%></span></div>
</div>
