
   <div class="col-sm-3">
    <h3> Great-vessels-and-ducts </h3>
<div><span><strong>Origins of aorta and pulmonary artery: </strong><%=@description.internal.origins_of_aorta_and_pulmonary_artery%></span></div>
<div><span><%=@description.internal.origins_of_aorta_and_pulmonary_artery_specify%></span></div>
<div><span><strong>Arch configuartion: </strong><%=@description.internal.arch_configuartion%></span></div>
<div><span><%=@description.internal.arch_configuartion_specify%></span></div>
<div><span><strong>Coronary arteries: </strong><%=@description.internal.coronary_arteries%></span></div>
<div><span><%=@description.internal.coronary_arteries_specify%></span></div>
<div><span><strong>Arch branches: </strong><%=@description.internal.arch_branches%></span></div>
<div><span><%=@description.internal.arch_branches_specify%></span></div>
<div><span><strong>Thoracic and abdominal branches: </strong><%=@description.internal.thoracic_and_abdominal_branches%></span></div>
<div><span><%=@description.internal.thoracic_and_abdominal_branches_specify%></span></div>
<div><span><strong>Intima and wall: </strong><%=@description.internal.intima_and_wall%></span></div>
<div><span><%=@description.internal.intima_and_wall_specify%></span></div>
<div><span><strong>Pulmonary arteries: </strong><%=@description.internal.pulmonary_arteries%></span></div>
<div><span><%=@description.internal.pulmonary_arteries_specify%></span></div>
<div><span><strong>Ductus: </strong><%=@description.internal.ductus%></span></div>
<div><span><%=@description.internal.ductus_specify%></span></div>
</div>
