
   <div class="col-sm-3">
    <h3> Heart,-chambers-and-septa </h3>
<div><span><strong>Configuration and contents: </strong><%=@description.internal.configuration_and_contents%></span></div>
<div><span><%=@description.internal.configuration_and_contents_specify%></span></div>
<div><span><strong>Atrial situs: </strong><%=@description.internal.atrial_situs%></span></div>
<div><span><%=@description.internal.atrial_situs_specify%></span></div>
<div><span><strong>Ventricular situs: </strong><%=@description.internal.ventricular_situs%></span></div>
<div><span><%=@description.internal.ventricular_situs_specify%></span></div>
<div><span><strong>Atrial septum: </strong><%=@description.internal.atrial_septum%></span></div>
<div><span><%=@description.internal.atrial_septum_specify%></span></div>
<div><span><strong>Ventricular septum: </strong><%=@description.internal.ventricular_septum%></span></div>
<div><span><%=@description.internal.ventricular_septum_specify%></span></div>
<div><span><strong>Endocardium: </strong><%=@description.internal.endocardium%></span></div>
<div><span><%=@description.internal.endocardium_specify%></span></div>
<div><span><strong>Myocardium: </strong><%=@description.internal.myocardium%></span></div>
<div><span><%=@description.internal.myocardium_specify%></span></div>
<div><span><strong>Right ventricular wall thickness: </strong><%=@description.internal.right_ventricular_wall_thickness%></span></div>
<div><span><strong>Left ventricular wall thickness: </strong><%=@description.internal.left_ventricular_wall_thickness%></span></div>
</div>
