
   <div class="col-sm-3">
    <h3> Heart,-general-and-external </h3>
<div><span><strong>Heart position: </strong><%=@description.internal.heart_position%></span></div>
<div><span><%=@description.internal.heart_position_specify%></span></div>
<div><span><strong>Epicardium: </strong><%=@description.internal.epicardium%></span></div>
<div><span><%=@description.internal.epicardium_specify%></span></div>
<div><span><strong>Heart shape: </strong><%=@description.internal.heart_shape%></span></div>
<div><span><%=@description.internal.heart_shape_specify%></span></div>
<div><span><strong>Heart size: </strong><%=@description.internal.heart_size%></span></div>
<div><span><%=@description.internal.heart_size_specify%></span></div>
<div><span><strong>Heart only weight: </strong><%=@description.internal.heart_only_weight%></span></div>
<div><span><strong>Combined heart and lungs weight: </strong><%=@description.internal.combined_heart_and_lungs_weight%></span></div>
</div>
