
   <div class="col-sm-3">
    <h3> Internal-genitalia-male </h3>
<div><span><strong>Prostate: </strong><%=@description.internal.prostate%></span></div>
<div><span><%=@description.internal.prostate_specify%></span></div>
<div><span><strong>Epididymis: </strong><%=@description.internal.epididymis%></span></div>
<div><span><%=@description.internal.epididymis_specify%></span></div>
<div><span><strong>Testes: </strong><%=@description.internal.testes%></span></div>
<div><span><%=@description.internal.testes_specify%></span></div>
<div><span><strong>Male genetalia other: </strong><%=@description.internal.male_genetalia_other%></span></div>
</div>
