
   <div class="col-sm-3">
    <h3> Internal-genitalia-female </h3>
<div><span><strong>Vagina: </strong><%=@description.internal.vagina%></span></div>
<div><span><%=@description.internal.vagina_specify%></span></div>
<div><span><strong>Uterus: </strong><%=@description.internal.uterus%></span></div>
<div><span><%=@description.internal.uterus_specify%></span></div>
<div><span><strong>Right fallopian tubes: </strong><%=@description.internal.right_fallopian_tubes%></span></div>
<div><span><%=@description.internal.right_fallopian_tubes_specify%></span></div>
<div><span><strong>Right ovary: </strong><%=@description.internal.right_ovary%></span></div>
<div><span><%=@description.internal.right_ovary_specify%></span></div>
<div><span><strong>Left fallopian tube: </strong><%=@description.internal.left_fallopian_tube%></span></div>
<div><span><%=@description.internal.left_fallopian_tube_specify%></span></div>
<div><span><strong>Left ovary: </strong><%=@description.internal.left_ovary%></span></div>
<div><span><%=@description.internal.left_ovary_specify%></span></div>
<div><span><strong>Female genetalia other: </strong><%=@description.internal.female_genetalia_other%></span></div>
</div>
