
   <div class="col-sm-3">
    <h3> Large-intestine--and-appendix </h3>
<div><span><strong>Large intestine size position configuration: </strong><%=@description.internal.large_intestine_size_position_configuration%></span></div>
<div><span><%=@description.internal.large_intestine_size_position_configuration_specify%></span></div>
<div><span><strong>Large intestine rotation: </strong><%=@description.internal.large_intestine_rotation%></span></div>
<div><span><%=@description.internal.large_intestine_rotation_specify%></span></div>
<div><span><strong>Large intestine mucosa and wall: </strong><%=@description.internal.large_intestine_mucosa_and_wall%></span></div>
<div><span><%=@description.internal.large_intestine_mucosa_and_wall_specify%></span></div>
<div><span><strong>Large intestine state of distension: </strong><%=@description.internal.large_intestine_state_of_distension%></span></div>
<div><span><%=@description.internal.large_intestine_state_of_distension_specify%></span></div>
<div><span><strong>Large intestine contents: </strong><%=@description.internal.large_intestine_contents%></span></div>
</div>
