
   <div class="col-sm-3">
    <h3> Larynx-and-trachea </h3>
<div><span><strong>Epiglottis: </strong><%=@description.internal.epiglottis%></span></div>
<div><span><%=@description.internal.epiglottis_specify%></span></div>
<div><span><strong>Foreign material in lumen: </strong><%=@description.internal.foreign_material_in_lumen%></span></div>
<div><span><%=@description.internal.foreign_material_in_lumen_specify%></span></div>
<div><span><strong>Larynx trachea configuration position: </strong><%=@description.internal.larynx_trachea_configuration_position%></span></div>
<div><span><%=@description.internal.larynx_trachea_configuration_position_specify%></span></div>
<div><span><strong>Vocal cords: </strong><%=@description.internal.vocal_cords%></span></div>
<div><span><%=@description.internal.vocal_cords_specify%></span></div>
<div><span><strong>Tracheastomy: </strong><%=@description.internal.tracheastomy%></span></div>
<div><span><strong>Mucosal surfaces: </strong><%=@description.internal.mucosal_surfaces%></span></div>
<div><span><%=@description.internal.mucosal_surfaces_specify%></span></div>
<div><span><strong>Tracheal rings: </strong><%=@description.internal.tracheal_rings%></span></div>
<div><span><strong>Larynx other: </strong><%=@description.internal.larynx_other%></span></div>
</div>
