
   <div class="col-sm-3">
    <h3> Left-adrenal-gland </h3>
<div><span><strong>Left adrenal gland weight: </strong><%=@description.internal.left_adrenal_gland_weight%></span></div>
<div><span><strong>Left adrenal pos config shape: </strong><%=@description.internal.left_adrenal_pos_config_shape%></span></div>
<div><span><%=@description.internal.left_adrenal_pos_config_shape_specify%></span></div>
<div><span><strong>Left adrenal gland external surface: </strong><%=@description.internal.left_adrenal_gland_external_surface%></span></div>
<div><span><%=@description.internal.left_adrenal_gland_external_surface_specify%></span></div>
<div><span><strong>Left adrenal gland parenchyma or cut surface: </strong><%=@description.internal.left_adrenal_gland_parenchyma_or_cut_surface%></span></div>
<div><span><%=@description.internal.left_adrenal_gland_parenchyma_or_cut_surface_specify%></span></div>
<div><span><strong>Left adrenal cortex: </strong><%=@description.internal.left_adrenal_cortex%></span></div>
<div><span><%=@description.internal.left_adrenal_cortex_specify%></span></div>
<div><span><strong>Left adrenal fetal cortex: </strong><%=@description.internal.left_adrenal_fetal_cortex%></span></div>
<div><span><%=@description.internal.left_adrenal_fetal_cortex_specify%></span></div>
<div><span><strong>Left adrenal medulla: </strong><%=@description.internal.left_adrenal_medulla%></span></div>
<div><span><%=@description.internal.left_adrenal_medulla_specify%></span></div>
<div><span><strong>Left adrenal other: </strong><%=@description.internal.left_adrenal_other%></span></div>
</div>
