
   <div class="col-sm-3">
    <h3> Left-kidneys-and-ureter </h3>
<div><span><strong>Left kidney weight: </strong><%=@description.internal.left_kidney_weight%></span></div>
<div><span><strong>Left kidney configuration position: </strong><%=@description.internal.left_kidney_configuration_position%></span></div>
<div><span><%=@description.internal.left_kidney_configuration_position_specify%></span></div>
<div><span><strong>Left kidney external surface: </strong><%=@description.internal.left_kidney_external_surface%></span></div>
<div><span><%=@description.internal.left_kidney_external_surface_specify%></span></div>
<div><span><strong>Left kidney parenchyma or cut surface: </strong><%=@description.internal.left_kidney_parenchyma_or_cut_surface%></span></div>
<div><span><%=@description.internal.left_kidney_parenchyma_or_cut_surface_specify%></span></div>
<div><span><strong>Left kidney cortical thickness: </strong><%=@description.internal.left_kidney_cortical_thickness%></span></div>
<div><span><strong>Left kidney medulla depth: </strong><%=@description.internal.left_kidney_medulla_depth%></span></div>
<div><span><strong>Left kidney pelves and calyces: </strong><%=@description.internal.left_kidney_pelves_and_calyces%></span></div>
<div><span><%=@description.internal.left_kidney_pelves_and_calyces_specify%></span></div>
<div><span><strong>Left kideny peripelvic fat and lymph nodes: </strong><%=@description.internal.left_kideny_peripelvic_fat_and_lymph_nodes%></span></div>
<div><span><%=@description.internal.left_kideny_peripelvic_fat_and_lymph_nodes_specify%></span></div>
<div><span><strong>Left panel renal vessels: </strong><%=@description.internal.left_panel_renal_vessels%></span></div>
<div><span><%=@description.internal.left_panel_renal_vessels_specify%></span></div>
<div><span><strong>Left kidney ureter: </strong><%=@description.internal.left_kidney_ureter%></span></div>
<div><span><%=@description.internal.left_kidney_ureter_specify%></span></div>
</div>
