
   <div class="col-sm-3">
    <h3> Liver-and-biiary-system </h3>
<div><span><strong>Liver weight: </strong><%=@description.internal.liver_weight%></span></div>
<div><span><strong>Liver size shape: </strong><%=@description.internal.liver_size_shape%></span></div>
<div><span><%=@description.internal.liver_size_shape_specify%></span></div>
<div><span><strong>Liver and billiary system external surface: </strong><%=@description.internal.liver_and_billiary_system_external_surface%></span></div>
<div><span><%=@description.internal.liver_and_billiary_system_external_surface_specify%></span></div>
<div><span><strong>Cut surface: </strong><%=@description.internal.cut_surface%></span></div>
<div><span><%=@description.internal.cut_surface_specify%></span></div>
<div><span><strong>Gallbladder: </strong><%=@description.internal.gallbladder%></span></div>
<div><span><%=@description.internal.gallbladder_specify%></span></div>
<div><span><strong>Bile ducts: </strong><%=@description.internal.bile_ducts%></span></div>
<div><span><%=@description.internal.bile_ducts_specify%></span></div>
<div><span><strong>Bile: </strong><%=@description.internal.bile%></span></div>
<div><span><%=@description.internal.bile_specify%></span></div>
<div><span><strong>Stones: </strong><%=@description.internal.stones%></span></div>
<div><span><%=@description.internal.stones_specify%></span></div>
<div><span><strong>Vessels portal vein hepatic artery: </strong><%=@description.internal.vessels_portal_vein_hepatic_artery%></span></div>
<div><span><%=@description.internal.vessels_portal_vein_hepatic_artery_specify%></span></div>
</div>
