
   <div class="col-sm-3">
    <h3> Lungs </h3>
<div><span><strong>Right lungs weight: </strong><%=@description.internal.right_lungs_weight%></span></div>
<div><span><strong>Left lung weight: </strong><%=@description.internal.left_lung_weight%></span></div>
<div><span><strong>Bilateral: </strong><%=@description.internal.bilateral%></span></div>
<div><span><strong>Combined heart and lungs weight: </strong><%=@description.internal.combined_heart_and_lungs_weight%></span></div>
<div><span><strong>Lung to body weight ratio: </strong><%=@description.internal.lung_to_body_weight_ratio%></span></div>
<div><span><strong>Lobar pattern: </strong><%=@description.internal.lobar_pattern%></span></div>
<div><span><%=@description.internal.lobar_pattern_specify%></span></div>
<div><span><strong>State of expansion: </strong><%=@description.internal.state_of_expansion%></span></div>
<div><span><%=@description.internal.state_of_expansion_specify%></span></div>
<div><span><strong>Lungs consistency: </strong><%=@description.internal.lungs_consistency%></span></div>
<div><span><%=@description.internal.lungs_consistency_specify%></span></div>
<div><span><strong>Bronchial tree: </strong><%=@description.internal.bronchial_tree%></span></div>
<div><span><%=@description.internal.bronchial_tree_specify%></span></div>
<div><span><strong>Vessels: </strong><%=@description.internal.vessels%></span></div>
<div><span><%=@description.internal.vessels_specify%></span></div>
<div><span><strong>Parenchyma color: </strong><%=@description.internal.parenchyma_color%></span></div>
<div><span><%=@description.internal.parenchyma_color_specify%></span></div>
<div><span><strong>Congestion: </strong><%=@description.internal.congestion%></span></div>
<div><span><strong>Interstitial emphysema: </strong><%=@description.internal.interstitial_emphysema%></span></div>
<div><span><strong>Hilar nodes: </strong><%=@description.internal.hilar_nodes%></span></div>
<div><span><%=@description.internal.hilar_nodes_specify%></span></div>
<div><span><strong>Visceral pleura: </strong><%=@description.internal.visceral_pleura%></span></div>
<div><span><%=@description.internal.visceral_pleura_specify%></span></div>
<div><span><strong>Pleural petechiae: </strong><%=@description.internal.pleural_petechiae%></span></div>
<div><span><strong>Fixed by perfusion: </strong><%=@description.internal.fixed_by_perfusion%></span></div>
<div><span><%=@description.internal.fixed_by_perfusion_specify%></span></div>
</div>
