<div class="panel panel-primary">
        <div class="panel-heading">
           <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#Lymph-nodes">Lymph-nodes</a>
           </h4>
        </div>
      <div id="Lymph-nodes" class="panel-collapse collapse in"> 

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :cervical %><br>
		    <%= f.text_field :cervical, class: "form-control" %>
	     </div> </div>

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :axillary %><br>
		    <%= f.text_field :axillary, class: "form-control" %>
	     </div> </div>

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :mediastinal %><br>
		    <%= f.text_field :mediastinal, class: "form-control" %>
	     </div> </div>

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :hilar %><br>
		    <%= f.text_field :hilar, class: "form-control" %>
	     </div> </div>

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :celiac_peripancreatic %><br>
		    <%= f.text_field :celiac_peripancreatic, class: "form-control" %>
	     </div> </div>

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :mesenteric %><br>
		    <%= f.text_field :mesenteric, class: "form-control" %>
	     </div> </div>

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :periaortic %><br>
		    <%= f.text_field :periaortic, class: "form-control" %>
	     </div> </div>

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :iliac %><br>
		    <%= f.text_field :iliac, class: "form-control" %>
	     </div> </div>

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :inguinal %><br>
		    <%= f.text_field :inguinal, class: "form-control" %>
	     </div> </div>

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :lymph_nodes_other %><br>
		    <%= f.text_field :lymph_nodes_other, class: "form-control" %>
	     </div> </div>
</div>
</div>
