
   <div class="col-sm-3">
    <h3> Lymph-nodes </h3>
<div><span><strong>Cervical: </strong><%=@description.internal.cervical%></span></div>
<div><span><strong>Axillary: </strong><%=@description.internal.axillary%></span></div>
<div><span><strong>Mediastinal: </strong><%=@description.internal.mediastinal%></span></div>
<div><span><strong>Hilar: </strong><%=@description.internal.hilar%></span></div>
<div><span><strong>Celiac peripancreatic: </strong><%=@description.internal.celiac_peripancreatic%></span></div>
<div><span><strong>Mesenteric: </strong><%=@description.internal.mesenteric%></span></div>
<div><span><strong>Periaortic: </strong><%=@description.internal.periaortic%></span></div>
<div><span><strong>Iliac: </strong><%=@description.internal.iliac%></span></div>
<div><span><strong>Inguinal: </strong><%=@description.internal.inguinal%></span></div>
<div><span><strong>Lymph nodes other: </strong><%=@description.internal.lymph_nodes_other%></span></div>
</div>
