
   <div class="col-sm-3">
    <h3> Mediastinum </h3>
<div><span><strong>Mediastinum position configuration: </strong><%=@description.internal.mediastinum_position_configuration%></span></div>
<div><span><%=@description.internal.mediastinum_position_configuration_specify%></span></div>
<div><span><strong>Mediastinum nodes masses: </strong><%=@description.internal.mediastinum_nodes_masses%></span></div>
<div><span><%=@description.internal.mediastinum_nodes_masses_specify%></span></div>
<div><span><strong>Pneumomediastinum: </strong><%=@description.internal.pneumomediastinum%></span></div>
<div><span><strong>Mediastinum other: </strong><%=@description.internal.mediastinum_other%></span></div>
</div>
