
   <div class="col-sm-3">
    <h3> Pancreas </h3>
<div><span><strong>Pancreas weight: </strong><%=@description.internal.pancreas_weight%></span></div>
<div><span><strong>Size configuration: </strong><%=@description.internal.size_configuration%></span></div>
<div><span><%=@description.internal.size_configuration_specify%></span></div>
<div><span><strong>Pancreas parenchyma or cut surface: </strong><%=@description.internal.pancreas_parenchyma_or_cut_surface%></span></div>
<div><span><%=@description.internal.pancreas_parenchyma_or_cut_surface_specify%></span></div>
<div><span><strong>Ducts: </strong><%=@description.internal.ducts%></span></div>
<div><span><%=@description.internal.ducts_specify%></span></div>
</div>
