
   <div class="col-sm-3">
    <h3> Peritoneal-cavity </h3>
<div><span><strong>Peritoneal serosal surfaces: </strong><%=@description.internal.peritoneal_serosal_surfaces%></span></div>
<div><span><%=@description.internal.peritoneal_serosal_surfaces_specify%></span></div>
<div><span><strong>Fluid: </strong><%=@description.internal.fluid%></span></div>
<div><span><strong>Fluid quantity: </strong><%=@description.internal.fluid_quantity%></span></div>
<div><span><strong>Peritoneal nature of fluid: </strong><%=@description.internal.peritoneal_nature_of_fluid%></span></div>
<div><span><%=@description.internal.peritoneal_nature_of_fluid_specify%></span></div>
<div><span><strong>Peritoneal cavity organ relations: </strong><%=@description.internal.peritoneal_cavity_organ_relations%></span></div>
<div><span><%=@description.internal.peritoneal_cavity_organ_relations_specify%></span></div>
<div><span><strong>Retrroperitoneum: </strong><%=@description.internal.retrroperitoneum%></span></div>
<div><span><%=@description.internal.retrroperitoneum_specify%></span></div>
<div><span><strong>Umbilical vessels: </strong><%=@description.internal.umbilical_vessels%></span></div>
<div><span><%=@description.internal.umbilical_vessels_specify%></span></div>
<div><span><strong>No of umbilical arteries: </strong><%=@description.internal.no_of_umbilical_arteries%></span></div>
<div><span><strong>Peritoneal cavity other: </strong><%=@description.internal.peritoneal_cavity_other%></span></div>
</div>
