<div class="panel panel-primary">
        <div class="panel-heading">
           <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#Pericardial-sac">Pericardial-sac</a>
           </h4>
        </div>
      <div id="Pericardial-sac" class="panel-collapse collapse in"> 
<div class="row" style="width:100%">
		   <div class="col-sm-6 drop-down">
		      <%= f.label  :serosal_sarfaces %><br>
		      <%= f.select :serosal_sarfaces, [:Normal, :Abnormal], { :prompt => "Select One" },{ class: "form-control" , onchange: "myFunction(this,'Abnormal')"} %> 
		   </div>

		   <div class="col-sm-6">
		   <% if !@description.internal.nil?  %>
		    <% if @description.internal.serosal_sarfaces == "Abnormal" %>
		      <%= f.label  :please_specify, { id:"label_internal_serosal_sarfaces_specify" } %><br>
		      <%= f.text_field :serosal_sarfaces_specify, { class: "form-control", placeholder: "If Abnormal, explain" } %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_serosal_sarfaces_specify" } %><br>
		      <%= f.text_field :serosal_sarfaces_specify, { class: "form-control", placeholder: "If Abnormal, explain" , disabled: true } %>
		    <% end %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_serosal_sarfaces_specify" } %><br>
		      <%= f.text_field :serosal_sarfaces_specify, { class: "form-control", placeholder: "If Abnormal, explain" , disabled: true } %>
		   <% end %>
		  </div>
		</div>
      
<div class="row" style="width:100%">
		   <div class="col-sm-6 drop-down">
		      <%= f.label  :pericardial_sac_contents %><br>
		      <%= f.select :pericardial_sac_contents, [:Clear, :Serosanguineous, :Bloody, :Exudative, :Chylous, :Other], { :prompt => "Select One" },{ class: "form-control" , onchange: "myFunction(this,'Other')"} %> 
		   </div>

		   <div class="col-sm-6">
		   <% if !@description.internal.nil?  %>
		    <% if @description.internal.pericardial_sac_contents == "Other" %>
		      <%= f.label  :please_specify, { id:"label_internal_pericardial_sac_contents_specify" } %><br>
		      <%= f.text_field :pericardial_sac_contents_specify, { class: "form-control", placeholder: "If Other, explain" } %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_pericardial_sac_contents_specify" } %><br>
		      <%= f.text_field :pericardial_sac_contents_specify, { class: "form-control", placeholder: "If Other, explain" , disabled: true } %>
		    <% end %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_pericardial_sac_contents_specify" } %><br>
		      <%= f.text_field :pericardial_sac_contents_specify, { class: "form-control", placeholder: "If Other, explain" , disabled: true } %>
		   <% end %>
		  </div>
		</div>
      
<div class="row" style="width:100%">
		   <div class="col-sm-6 drop-down">
		      <%= f.label  :pericardial_sac_amount_of_fluid %><br>
		      <%= f.select :pericardial_sac_amount_of_fluid, [:Minimal, :"More than minimal"], { :prompt => "Select One" },{ class: "form-control" , onchange: "myFunction(this,'More than minimal')"} %> 
		   </div>

		   <div class="col-sm-6">
		   <% if !@description.internal.nil?  %>
		    <% if @description.internal.pericardial_sac_amount_of_fluid == "More than minimal" %>
		      <%= f.label  :please_specify, { id:"label_internal_pericardial_sac_amount_of_fluid_specify" } %><br>
		      <%= f.text_field :pericardial_sac_amount_of_fluid_specify, { class: "form-control", placeholder: "If More than minimal, explain" } %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_pericardial_sac_amount_of_fluid_specify" } %><br>
		      <%= f.text_field :pericardial_sac_amount_of_fluid_specify, { class: "form-control", placeholder: "If More than minimal, explain" , disabled: true } %>
		    <% end %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_pericardial_sac_amount_of_fluid_specify" } %><br>
		      <%= f.text_field :pericardial_sac_amount_of_fluid_specify, { class: "form-control", placeholder: "If More than minimal, explain" , disabled: true } %>
		   <% end %>
		  </div>
		</div>
      
</div>
</div>
