
   <div class="col-sm-3">
    <h3> Pericardial-sac </h3>
<div><span><strong>Serosal sarfaces: </strong><%=@description.internal.serosal_sarfaces%></span></div>
<div><span><%=@description.internal.serosal_sarfaces_specify%></span></div>
<div><span><strong>Pericardial sac contents: </strong><%=@description.internal.pericardial_sac_contents%></span></div>
<div><span><%=@description.internal.pericardial_sac_contents_specify%></span></div>
<div><span><strong>Pericardial sac amount of fluid: </strong><%=@description.internal.pericardial_sac_amount_of_fluid%></span></div>
<div><span><%=@description.internal.pericardial_sac_amount_of_fluid_specify%></span></div>
</div>
