
   <div class="col-sm-3">
    <h3> Pituitary </h3>
<div><span><strong>Pituitary weight: </strong><%=@description.internal.pituitary_weight%></span></div>
<div><span><strong>Pituitary pos config shape: </strong><%=@description.internal.pituitary_pos_config_shape%></span></div>
<div><span><%=@description.internal.pituitary_pos_config_shape_specify%></span></div>
<div><span><strong>Pituitary external surface: </strong><%=@description.internal.pituitary_external_surface%></span></div>
<div><span><%=@description.internal.pituitary_external_surface_specify%></span></div>
<div><span><strong>Pituitary parenchyma or cut surface: </strong><%=@description.internal.pituitary_parenchyma_or_cut_surface%></span></div>
<div><span><%=@description.internal.pituitary_parenchyma_or_cut_surface_specify%></span></div>
</div>
