
   <div class="col-sm-3">
    <h3> Pleural-cavities </h3>
<div><span><strong>Pleural serosal surfaces: </strong><%=@description.internal.pleural_serosal_surfaces%></span></div>
<div><span><%=@description.internal.pleural_serosal_surfaces_specify%></span></div>
<div><span><strong>Pneumothorax: </strong><%=@description.internal.pneumothorax%></span></div>
<div><span><%=@description.internal.pneumothorax_specify%></span></div>
<div><span><strong>Pleural cavities amount of fluid: </strong><%=@description.internal.pleural_cavities_amount_of_fluid%></span></div>
<div><span><%=@description.internal.pleural_cavities_amount_of_fluid_specify%></span></div>
<div><span><strong>Pleural nature of fluid: </strong><%=@description.internal.pleural_nature_of_fluid%></span></div>
<div><span><%=@description.internal.pleural_nature_of_fluid_specify%></span></div>
<div><span><strong>Pleural cavity organ relations: </strong><%=@description.internal.pleural_cavity_organ_relations%></span></div>
<div><span><%=@description.internal.pleural_cavity_organ_relations_specify%></span></div>
<div><span><strong>Diaphragm: </strong><%=@description.internal.diaphragm%></span></div>
<div><span><%=@description.internal.diaphragm_specify%></span></div>
<div><span><strong>Pleural cavities other: </strong><%=@description.internal.pleural_cavities_other%></span></div>
</div>
