
   <div class="col-sm-3">
    <h3> Rib-vertebrae </h3>
<div><span><strong>Hardness: </strong><%=@description.internal.hardness%></span></div>
<div><span><%=@description.internal.hardness_specify%></span></div>
<div><span><strong>Bone anomalies: </strong><%=@description.internal.bone_anomalies%></span></div>
<div><span><%=@description.internal.bone_anomalies_specify%></span></div>
<div><span><strong>Marrow: </strong><%=@description.internal.marrow%></span></div>
<div><span><%=@description.internal.marrow_specify%></span></div>
<div><span><strong>Bones other: </strong><%=@description.internal.bones_other%></span></div>
</div>
