
   <div class="col-sm-3">
    <h3> Right-kidneys-and-ureter </h3>
<div><span><strong>Right kidnes weight: </strong><%=@description.internal.right_kidnes_weight%></span></div>
<div><span><strong>Right kidney configuration position: </strong><%=@description.internal.right_kidney_configuration_position%></span></div>
<div><span><%=@description.internal.right_kidney_configuration_position_specify%></span></div>
<div><span><strong>Right kidney external surface: </strong><%=@description.internal.right_kidney_external_surface%></span></div>
<div><span><%=@description.internal.right_kidney_external_surface_specify%></span></div>
<div><span><strong>Right kidney parenchyma or cut surface: </strong><%=@description.internal.right_kidney_parenchyma_or_cut_surface%></span></div>
<div><span><%=@description.internal.right_kidney_parenchyma_or_cut_surface_specify%></span></div>
<div><span><strong>Right kidney cortical thickness: </strong><%=@description.internal.right_kidney_cortical_thickness%></span></div>
<div><span><strong>Right kidney medulla depth: </strong><%=@description.internal.right_kidney_medulla_depth%></span></div>
<div><span><strong>Right kidney pelves and calyces: </strong><%=@description.internal.right_kidney_pelves_and_calyces%></span></div>
<div><span><%=@description.internal.right_kidney_pelves_and_calyces_specify%></span></div>
<div><span><strong>Right kidney peripelvic fat and lymph nodes: </strong><%=@description.internal.right_kidney_peripelvic_fat_and_lymph_nodes%></span></div>
<div><span><%=@description.internal.right_kidney_peripelvic_fat_and_lymph_nodes_specify%></span></div>
<div><span><strong>Right kidney renal vessels: </strong><%=@description.internal.right_kidney_renal_vessels%></span></div>
<div><span><%=@description.internal.right_kidney_renal_vessels_specify%></span></div>
<div><span><strong>Right kidney ureter: </strong><%=@description.internal.right_kidney_ureter%></span></div>
<div><span><%=@description.internal.right_kidney_ureter_specify%></span></div>
</div>
