
   <div class="col-sm-3">
    <h3> Skeletal-muscles </h3>
<div><span><strong>Skeletal muscle color consistency: </strong><%=@description.internal.skeletal_muscle_color_consistency%></span></div>
<div><span><%=@description.internal.skeletal_muscle_color_consistency_specify%></span></div>
<div><span><strong>Skeletal muscle size: </strong><%=@description.internal.skeletal_muscle_size%></span></div>
<div><span><%=@description.internal.skeletal_muscle_size_specify%></span></div>
<div><span><strong>Skeletal muscle other: </strong><%=@description.internal.skeletal_muscle_other%></span></div>
</div>
