
   <div class="col-sm-3">
    <h3> Small-intestine </h3>
<div><span><strong>Small intestine size position configuration: </strong><%=@description.internal.small_intestine_size_position_configuration%></span></div>
<div><span><%=@description.internal.small_intestine_size_position_configuration_specify%></span></div>
<div><span><strong>Small intestine rotation: </strong><%=@description.internal.small_intestine_rotation%></span></div>
<div><span><%=@description.internal.small_intestine_rotation_specify%></span></div>
<div><span><strong>Small intestine mucosa and wall: </strong><%=@description.internal.small_intestine_mucosa_and_wall%></span></div>
<div><span><%=@description.internal.small_intestine_mucosa_and_wall_specify%></span></div>
<div><span><strong>Small intestine state of distension: </strong><%=@description.internal.small_intestine_state_of_distension%></span></div>
<div><span><%=@description.internal.small_intestine_state_of_distension_specify%></span></div>
<div><span><strong>Small intestine contents: </strong><%=@description.internal.small_intestine_contents%></span></div>
<div><span><strong>Mecekel diverticulum: </strong><%=@description.internal.mecekel_diverticulum%></span></div>
<div><span><%=@description.internal.mecekel_diverticulum_specify%></span></div>
</div>
