
   <div class="col-sm-3">
    <h3> Spinal-cord </h3>
<div><span><strong>Extradural space: </strong><%=@description.internal.extradural_space%></span></div>
<div><span><%=@description.internal.extradural_space_specify%></span></div>
<div><span><strong>Meninges: </strong><%=@description.internal.meninges%></span></div>
<div><span><%=@description.internal.meninges_specify%></span></div>
<div><span><strong>Cord proper: </strong><%=@description.internal.cord_proper%></span></div>
<div><span><%=@description.internal.cord_proper_specify%></span></div>
</div>
