
   <div class="col-sm-3">
    <h3> Spleen </h3>
<div><span><strong>Spleen weight: </strong><%=@description.internal.spleen_weight%></span></div>
<div><span><strong>Spleen shape position configuration: </strong><%=@description.internal.spleen_shape_position_configuration%></span></div>
<div><span><%=@description.internal.spleen_shape_position_configuration_specify%></span></div>
<div><span><strong>Capsular surface: </strong><%=@description.internal.capsular_surface%></span></div>
<div><span><%=@description.internal.capsular_surface_specify%></span></div>
<div><span><strong>Spleen consistency: </strong><%=@description.internal.spleen_consistency%></span></div>
<div><span><%=@description.internal.spleen_consistency_specify%></span></div>
<div><span><strong>Spleen parenchyma or cut surface: </strong><%=@description.internal.spleen_parenchyma_or_cut_surface%></span></div>
<div><span><%=@description.internal.spleen_parenchyma_or_cut_surface_specify%></span></div>
<div><span><strong>Accessory spleens: </strong><%=@description.internal.accessory_spleens%></span></div>
<div><span><%=@description.internal.accessory_spleens_specify%></span></div>
<div><span><strong>Spleen other: </strong><%=@description.internal.spleen_other%></span></div>
</div>
