
   <div class="col-sm-3">
    <h3> Thymus- </h3>
<div><span><strong>Weight: </strong><%=@description.internal.weight%></span></div>
<div><span><strong>Thymus pos config shape: </strong><%=@description.internal.thymus_pos_config_shape%></span></div>
<div><span><%=@description.internal.thymus_pos_config_shape_specify%></span></div>
<div><span><strong>Petechiae on external surface: </strong><%=@description.internal.petechiae_on_external_surface%></span></div>
<div><span><strong>Thymus parenchyma or cut surface: </strong><%=@description.internal.thymus_parenchyma_or_cut_surface%></span></div>
<div><span><%=@description.internal.thymus_parenchyma_or_cut_surface_specify%></span></div>
<div><span><strong>Thymus other: </strong><%=@description.internal.thymus_other%></span></div>
</div>
