
   <div class="col-sm-3">
    <h3> Thyroid </h3>
<div><span><strong>Thyroid weight: </strong><%=@description.internal.thyroid_weight%></span></div>
<div><span><strong>Thyroid pos config shape: </strong><%=@description.internal.thyroid_pos_config_shape%></span></div>
<div><span><%=@description.internal.thyroid_pos_config_shape_specify%></span></div>
<div><span><strong>Thyroid external surface: </strong><%=@description.internal.thyroid_external_surface%></span></div>
<div><span><%=@description.internal.thyroid_external_surface_specify%></span></div>
<div><span><strong>Thyroid parenchyma or cut surface: </strong><%=@description.internal.thyroid_parenchyma_or_cut_surface%></span></div>
<div><span><%=@description.internal.thyroid_parenchyma_or_cut_surface_specify%></span></div>
<div><span><strong>Thyroid other: </strong><%=@description.internal.thyroid_other%></span></div>
</div>
