<div class="panel panel-primary">
        <div class="panel-heading">
           <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#Thyroid">Thyroid</a>
           </h4>
        </div>
      <div id="Thyroid" class="panel-collapse collapse in"> 

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :thyroid_weight %><br>
		<%= f.number_field :thyroid_weight, class: "form-control" %>
	     </div> </div>
<div class="row" style="width:100%">
		   <div class="col-sm-6 drop-down">
		      <%= f.label  :thyroid_pos_config_shape %><br>
		      <%= f.select :thyroid_pos_config_shape, [:Normal, :Abnormal], { :prompt => "Select One" },{ class: "form-control" , onchange: "myFunction(this,'Abnormal')"} %> 
		   </div>

		   <div class="col-sm-6">
		   <% if !@description.internal.nil?  %>
		    <% if @description.internal.thyroid_pos_config_shape == "Abnormal" %>
		      <%= f.label  :please_specify, { id:"label_internal_thyroid_pos_config_shape_specify" } %><br>
		      <%= f.text_field :thyroid_pos_config_shape_specify, { class: "form-control", placeholder: "If Abnormal, explain" } %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_thyroid_pos_config_shape_specify" } %><br>
		      <%= f.text_field :thyroid_pos_config_shape_specify, { class: "form-control", placeholder: "If Abnormal, explain" , disabled: true } %>
		    <% end %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_thyroid_pos_config_shape_specify" } %><br>
		      <%= f.text_field :thyroid_pos_config_shape_specify, { class: "form-control", placeholder: "If Abnormal, explain" , disabled: true } %>
		   <% end %>
		  </div>
		</div>
      
<div class="row" style="width:100%">
		   <div class="col-sm-6 drop-down">
		      <%= f.label  :thyroid_external_surface %><br>
		      <%= f.select :thyroid_external_surface, [:Normal, :Abnormal], { :prompt => "Select One" },{ class: "form-control" , onchange: "myFunction(this,'Abnormal')"} %> 
		   </div>

		   <div class="col-sm-6">
		   <% if !@description.internal.nil?  %>
		    <% if @description.internal.thyroid_external_surface == "Abnormal" %>
		      <%= f.label  :please_specify, { id:"label_internal_thyroid_external_surface_specify" } %><br>
		      <%= f.text_field :thyroid_external_surface_specify, { class: "form-control", placeholder: "If Abnormal, explain" } %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_thyroid_external_surface_specify" } %><br>
		      <%= f.text_field :thyroid_external_surface_specify, { class: "form-control", placeholder: "If Abnormal, explain" , disabled: true } %>
		    <% end %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_thyroid_external_surface_specify" } %><br>
		      <%= f.text_field :thyroid_external_surface_specify, { class: "form-control", placeholder: "If Abnormal, explain" , disabled: true } %>
		   <% end %>
		  </div>
		</div>
      
<div class="row" style="width:100%">
		   <div class="col-sm-6 drop-down">
		      <%= f.label  :thyroid_parenchyma_or_cut_surface %><br>
		      <%= f.select :thyroid_parenchyma_or_cut_surface, [:Normal, :Abnormal], { :prompt => "Select One" },{ class: "form-control" , onchange: "myFunction(this,'Abnormal')"} %> 
		   </div>

		   <div class="col-sm-6">
		   <% if !@description.internal.nil?  %>
		    <% if @description.internal.thyroid_parenchyma_or_cut_surface == "Abnormal" %>
		      <%= f.label  :please_specify, { id:"label_internal_thyroid_parenchyma_or_cut_surface_specify" } %><br>
		      <%= f.text_field :thyroid_parenchyma_or_cut_surface_specify, { class: "form-control", placeholder: "If Abnormal, explain" } %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_thyroid_parenchyma_or_cut_surface_specify" } %><br>
		      <%= f.text_field :thyroid_parenchyma_or_cut_surface_specify, { class: "form-control", placeholder: "If Abnormal, explain" , disabled: true } %>
		    <% end %>
		    <% else %>
		      <%= f.label  :please_specify, { id:"label_internal_thyroid_parenchyma_or_cut_surface_specify" } %><br>
		      <%= f.text_field :thyroid_parenchyma_or_cut_surface_specify, { class: "form-control", placeholder: "If Abnormal, explain" , disabled: true } %>
		   <% end %>
		  </div>
		</div>
      

	     <div class="row" style="width:100%">
		<div class="field col-sm-4">
		    <%= f.label :thyroid_other %><br>
		    <%= f.text_field :thyroid_other, class: "form-control" %>
	     </div> </div>
</div>
</div>
