
   <div class="col-sm-3">
    <h3> Valves </h3>
<div><span><strong>Tricuspid valve: </strong><%=@description.internal.tricuspid_valve%></span></div>
<div><span><%=@description.internal.tricuspid_valve_specify%></span></div>
<div><span><strong>Tricuspid valve circumference: </strong><%=@description.internal.tricuspid_valve_circumference%></span></div>
<div><span><strong>Pulmonic valve: </strong><%=@description.internal.pulmonic_valve%></span></div>
<div><span><%=@description.internal.pulmonic_valve_specify%></span></div>
<div><span><strong>Pulmonic valave circumference: </strong><%=@description.internal.pulmonic_valave_circumference%></span></div>
<div><span><strong>Mitral valve: </strong><%=@description.internal.mitral_valve%></span></div>
<div><span><%=@description.internal.mitral_valve_specify%></span></div>
<div><span><strong>Mitral valve circumference: </strong><%=@description.internal.mitral_valve_circumference%></span></div>
<div><span><strong>Aortic valve: </strong><%=@description.internal.aortic_valve%></span></div>
<div><span><%=@description.internal.aortic_valve_specify%></span></div>
<div><span><strong>Aortic valve circumference: </strong><%=@description.internal.aortic_valve_circumference%></span></div>
</div>
