
   <div class="col-sm-3">
    <h3> Venous-system </h3>
<div><span><strong>Venous system anomalies: </strong><%=@description.internal.venous_system_anomalies%></span></div>
<div><span><%=@description.internal.venous_system_anomalies_specify%></span></div>
<div><span><strong>Venous system state of distension: </strong><%=@description.internal.venous_system_state_of_distension%></span></div>
<div><span><%=@description.internal.venous_system_state_of_distension_specify%></span></div>
<div><span><strong>Venous system contents: </strong><%=@description.internal.venous_system_contents%></span></div>
<div><span><strong>Cardiovascular other: </strong><%=@description.internal.cardiovascular_other%></span></div>
</div>
