<div class="row">
  <div class="col-sm-6 custom-prop">
    <strong>Subcutaneous_md : </strong>
  </div>
  <div class="col-sm-6 custom-val">
    <%= @description.internal.subcutaneous_md%>               
  </div>
</div>


<div class="row">
  <div class="col-sm-6 custom-prop">
    <strong>Bone_md : </strong>
  </div>
  <div class="col-sm-6 custom-val">
    <%= @description.internal.bone_md%>               
  </div>
</div>


<div class="row">
  <div class="col-sm-6 custom-prop">
    <strong>Skeletal_muscle_md : </strong>
  </div>
  <div class="col-sm-6 custom-val">
    <%= @description.internal.skeletal_muscle_md%>               
  </div>
</div>


<div class="row">
  <div class="col-sm-6 custom-prop">
    <strong>Lymph_nodes_md : </strong>
  </div>
  <div class="col-sm-6 custom-val">
    <%= @description.internal.lymph_nodes_md%>               
  </div>
</div>


<div class="row">
  <div class="col-sm-6 custom-prop">
    <strong>Peripheral_nervous_system_md : </strong>
  </div>
  <div class="col-sm-6 custom-val">
    <%= @description.internal.peripheral_nervous_system_md%>               
  </div>
</div>


<div class="row">
  <div class="col-sm-6 custom-prop">
    <strong>Venous_system_md : </strong>
  </div>
  <div class="col-sm-6 custom-val">
    <%= @description.internal.venous_system_md%>               
  </div>
</div>


<div class="row">
  <div class="col-sm-6 custom-prop">
    <strong>Arterial_system_md : </strong>
  </div>
  <div class="col-sm-6 custom-val">
    <%= @description.internal.arterial_system_md%>               
  </div>
</div>


<div class="row">
  <div class="col-sm-6 custom-prop">
    <strong>Lymphatic_system_md : </strong>
  </div>
  <div class="col-sm-6 custom-val">
    <%= @description.internal.lymphatic_system_md%>               
  </div>
</div>
