<br>
<br>

<% if @description.ancillary_testing.nil? 
  @ancillary_testing = AncillaryTesting.new()
end %>



<%= form_for @ancillary_testing, url: ancillary_testing_path do |f| %>
  <% if @ancillary_testing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ancillary_testing.errors.count, "error") %> prohibited this ancillary_testing from being saved:</h2>
      <ul>
	<% @ancillary_testing.errors.full_messages.each do |message| %>
	  <li><%= message %></li>
	<% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-tests">
  <div class="panel-heading panel-heading-tests small-heading">
    <span class="fa fa-user pull-left"></span>Ancilliary tests 
  </div>
  <div class="panel-body panel-body-tests">
    <div class="row" style="width:100%">
      <div class="col-sm-6 drop-down">
	<%= f.label  :microbiology %><br>
	<%= f.select :microbiology, [:yes, :no], { :prompt => "Select One" },{ class: "form-control input-sm" , onchange: "myFunction(this,'yes')"} %> 
      </div>

      <div class="col-sm-6">
	<% if !@description.ancillary_testing.nil?  %>
	  <% if @description.ancillary_testing.microbiology == "yes" %>
	    <%= f.label  :please_specify, { id:"label.ancillary_testing.microbiology_specify" } %><br>
	    <%= f.text_field :microbiology_specify, { class: "form-control input-sm", placeholder: "If yes, explain" } %>
	  <% else %>
	    <%= f.label  :please_specify, { id:"label.ancillary_testing.microbiology_specify" } %><br>
	    <%= f.text_field :microbiology_specify, { class: "form-control input-sm", placeholder: "If yes, explain" , disabled: true } %>
	  <% end %>
	<% else %>
	  <%= f.label  :please_specify, { id:"label.ancillary_testing.microbiology_specify" } %><br>
	  <%= f.text_field :microbiology_specify, { class: "form-control input-sm", placeholder: "If yes, explain" , disabled: true } %>
	<% end %>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-sm-6 drop-down">
	<%= f.label  :viral_culture %><br>
	<%= f.select :viral_culture, [:yes, :no], { :prompt => "Select One" },{ class: "form-control input-sm" , onchange: "myFunction(this,'yes')"} %> 
      </div>

      <div class="col-sm-6">
	<% if !@description.ancillary_testing.nil?  %>
	  <% if @description.ancillary_testing.viral_culture == "yes" %>
	    <%= f.label  :please_specify, { id:"label.ancillary_testing.viral_culture_specify" } %><br>
	    <%= f.text_field :viral_culture_specify, { class: "form-control input-sm", placeholder: "If yes, explain" } %>
	  <% else %>
	    <%= f.label  :please_specify, { id:"label.ancillary_testing.viral_culture_specify" } %><br>
	    <%= f.text_field :viral_culture_specify, { class: "form-control input-sm", placeholder: "If yes, explain" , disabled: true } %>
	  <% end %>
	<% else %>
	  <%= f.label  :please_specify, { id:"label.ancillary_testing.viral_culture_specify" } %><br>
	  <%= f.text_field :viral_culture_specify, { class: "form-control input-sm", placeholder: "If yes, explain" , disabled: true } %>
	<% end %>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-sm-6 drop-down">
	<%= f.label  :karyotype_requested %><br>
	<%= f.select :karyotype_requested, [:yes, :no], { :prompt => "Select One" },{ class: "form-control input-sm" , onchange: "myFunction(this,'yes')"} %> 
      </div>

      <div class="col-sm-6">
	<% if !@description.ancillary_testing.nil?  %>
	  <% if @description.ancillary_testing.karyotype_requested == "yes" %>
	    <%= f.label  :please_specify, { id:"label.ancillary_testing.karyotype_requested_specify" } %><br>
	    <%= f.text_field :karyotype_requested_specify, { class: "form-control input-sm", placeholder: "If yes, explain" } %>
	  <% else %>
	    <%= f.label  :please_specify, { id:"label.ancillary_testing.karyotype_requested_specify" } %><br>
	    <%= f.text_field :karyotype_requested_specify, { class: "form-control input-sm", placeholder: "If yes, explain" , disabled: true } %>
	  <% end %>
	<% else %>
	  <%= f.label  :please_specify, { id:"label.ancillary_testing.karyotype_requested_specify" } %><br>
	  <%= f.text_field :karyotype_requested_specify, { class: "form-control input-sm", placeholder: "If yes, explain" , disabled: true } %>
	<% end %>
      </div>
    </div>

    <div class="row" style="width:100%">
      <div class="col-sm-6 drop-down">
	<%= f.label  :electron_microscopy %><br>
	<%= f.select :electron_microscopy, [:yes, :no], { :prompt => "Select One" },{ class: "form-control input-sm" , onchange: "myFunction(this,'yes')"} %> 
      </div>

      <div class="col-sm-6">
	<% if !@description.ancillary_testing.nil?  %>
	  <% if @description.ancillary_testing.electron_microscopy == "yes" %>
	    <%= f.label  :please_specify, { id:"label.ancillary_testing.electron_microscopy_specify" } %><br>
	    <%= f.text_field :electron_microscopy_specify, { class: "form-control input-sm", placeholder: "If yes, explain" } %>
	  <% else %>
	    <%= f.label  :please_specify, { id:"label.ancillary_testing.electron_microscopy_specify" } %><br>
	    <%= f.text_field :electron_microscopy_specify, { class: "form-control input-sm", placeholder: "If yes, explain" , disabled: true } %>
	  <% end %>
	<% else %>
	  <%= f.label  :please_specify, { id:"label.ancillary_testing.electron_microscopy_specify" } %><br>
	  <%= f.text_field :electron_microscopy_specify, { class: "form-control input-sm", placeholder: "If yes, explain" , disabled: true } %>
	<% end %>
      </div>
    </div>


    <div class="row" style="width:100%">
      <div class="field col-sm-12">
	<%= f.label :molecular_diagnostic_pathology %><br>
	<%= f.text_field :molecular_diagnostic_pathology, class: "form-control input-sm" %>
    </div> </div>

    <div class="row" style="width:100%">
      <div class="field col-sm-12">
	<%= f.label :specimens_snap_frozen %><br>
	<%= f.text_field :specimens_snap_frozen, class: "form-control input-sm" %>
    </div> </div>

    <div class="row" style="width:100%">
      <div class="field col-sm-12">
	<%= f.label :post_mortem_x_rays %><br>
	<%= f.text_field :post_mortem_x_rays, class: "form-control input-sm" %>
    </div> </div>

    <div class="row" style="width:100%">
      <div class="field col-sm-12">
	<%= f.label :photographs %><br>
	<%= f.text_field :photographs, class: "form-control input-sm" %>
    </div> </div>

    <div class="row" style="width:100%">
      <div class="field col-sm-12">
	<%= f.label :organs_for_special_study %><br>
	<%= f.text_field :organs_for_special_study, class: "form-control input-sm" %>
    </div> </div>

    <div class="row" style="width:100%">
      <div class="field col-sm-12">
	<%= f.label :other %><br>
	<%= f.text_field :other, class: "form-control input-sm" %>
    </div> </div>
    </div> </div>

 <% if can? :create, AncillaryTesting %>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="icon-ok icon-white"></i> Save
  <% end %>
 <% end %>

  <script>
    function myFunction(item,match_string) {
      var id = $(item).attr("id")
      var target_id = id + "_specify"
      var label_id = "label_" + id + "_specify"

      if(item.value == match_string){
	select_this = document.getElementById(target_id)
	select_this.removeAttribute("disabled")
      }
      else{
	select_this = document.getElementById(target_id)
	select_this.setAttribute("disabled","true")
      }
    }
  </script>
<% end %>
