        <div class="col-sm-3">
          <div class="panel panel-internal squarish">
            <div class="panel-heading panel-heading-internal small-heading squarish">
              Pancreas
            </div>
            <div class="panel-body panel-body-internal squarish">
        
              <div class="row">
        	<div class="col-sm-6 no-pad small custom-prop">
        	  <%= f.label  :Normal, class: "small" %><br>
        	</div>		     
        	<div class="col-sm-6 no-pad custom-val">
        	  <%= f.check_box :pancreas_normal, { class: "form-control input-sm" , :onchange => "makeNormal(this, '.pancreas')" } %>
        	</div>
              </div>
        
        
              <div class="row">
        	<div class="col-sm-6 nopad custom-prop small">
        	  <%= f.label :pancreas_weight, class: "small" %>
        	</div> 
        	<div class="col-sm-6 nopad custom-val">
        	  <%= f.number_field :pancreas_weight, class: "form-control input-sm" %>
        	</div>
              </div>
              <div class="row">
        	<div class="col-sm-6 nopad custom-prop small drop-down">
        	  <%= f.label  :pancreas_size_configuration, class: "small"%>
        	</div>
        	<div class="col-sm-6 nopad custom-val">
        	  <%= f.select :pancreas_size_configuration, [:Normal, :Abnormal], { :prompt => "Select One" },{ class: "form-control input-sm has-dependent pancreas" , "dependent-selector" => "#pancreas_size_configuration-dependent", "when-value" => "Abnormal", "dependent-action" => "show-hide"} %>
        	</div>
              </div>
              <div class="row" id="pancreas_size_configuration-dependent">
        	<div class="col-sm-6 nopad custom-prop small drop-down">
        	  <%= f.label  :pancreas_size_configuration_specify, class: "small" %><br>
        	</div>
        	<div class="col-sm-6 nopad custom-val">
        	  <%= f.text_field :pancreas_size_configuration_specify, { class: "form-control input-sm", placeholder: "If Abnormal, explain" } %>
        	</div>
              </div>
              <div class="row">
        	<div class="col-sm-6 nopad custom-prop small drop-down">
        	  <%= f.label  :pancreas_external_surface:, class: "small"%>
        	</div>
        	<div class="col-sm-6 nopad custom-val">
        	  <%= f.select :pancreas_external_surface:, [:Normal, :Abnormal], { :prompt => "Select One" },{ class: "form-control input-sm has-dependent pancreas" , "dependent-selector" => "#pancreas_external_surface:-dependent", "when-value" => "Abnormal", "dependent-action" => "show-hide"} %>
        	</div>
              </div>
              <div class="row" id="pancreas_external_surface:-dependent">
        	<div class="col-sm-6 nopad custom-prop small drop-down">
        	  <%= f.label  :pancreas_external_surface:_specify, class: "small" %><br>
        	</div>
        	<div class="col-sm-6 nopad custom-val">
        	  <%= f.text_field :pancreas_external_surface:_specify, { class: "form-control input-sm", placeholder: "If Abnormal, explain" } %>
        	</div>
              </div>
              <div class="row">
        	<div class="col-sm-6 nopad custom-prop small drop-down">
        	  <%= f.label  :pancreas_parenchyma_or_cut_surface, class: "small"%>
        	</div>
        	<div class="col-sm-6 nopad custom-val">
        	  <%= f.select :pancreas_parenchyma_or_cut_surface, [:Normal, :Abnormal], { :prompt => "Select One" },{ class: "form-control input-sm has-dependent pancreas" , "dependent-selector" => "#pancreas_parenchyma_or_cut_surface-dependent", "when-value" => "Abnormal", "dependent-action" => "show-hide"} %>
        	</div>
              </div>
              <div class="row" id="pancreas_parenchyma_or_cut_surface-dependent">
        	<div class="col-sm-6 nopad custom-prop small drop-down">
        	  <%= f.label  :pancreas_parenchyma_or_cut_surface_specify, class: "small" %><br>
        	</div>
        	<div class="col-sm-6 nopad custom-val">
        	  <%= f.text_field :pancreas_parenchyma_or_cut_surface_specify, { class: "form-control input-sm", placeholder: "If Abnormal, explain" } %>
        	</div>
              </div>
              <div class="row">
        	<div class="col-sm-6 nopad custom-prop small drop-down">
        	  <%= f.label  :ducts, class: "small"%>
        	</div>
        	<div class="col-sm-6 nopad custom-val">
        	  <%= f.select :ducts, [:Normal, :Abnormal], { :prompt => "Select One" },{ class: "form-control input-sm has-dependent pancreas" , "dependent-selector" => "#ducts-dependent", "when-value" => "Abnormal", "dependent-action" => "show-hide"} %>
        	</div>
              </div>
              <div class="row" id="ducts-dependent">
        	<div class="col-sm-6 nopad custom-prop small drop-down">
        	  <%= f.label  :ducts_specify, class: "small" %><br>
        	</div>
        	<div class="col-sm-6 nopad custom-val">
        	  <%= f.text_field :ducts_specify, { class: "form-control input-sm", placeholder: "If Abnormal, explain" } %>
        	</div>
              </div>
        
              <div class="row">
        	<div class="col-sm-6 nopad custom-prop small">
        	  <%= f.label :pancreas_other , class: "small" %>
        	</div> 
        	<div class="col-sm-6 nopad custom-val">
        	  <%= f.text_field :pancreas_other, class: "form-control input-sm" %>
        	</div>
              </div>
            </div>
          </div>
        </div>
