<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Case Number</th>
      <th>Brief Clinical Diagnosis</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @descriptions.each do |description| %>
      <tr>
        <td><%= description.user_id %></td>
        <td><%= description.description.html_safe%></td>
        <td><%= link_to 'Show', description, class: 'btn btn-primary btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_description_path, class: 'btn btn-success' %>
